.body-div {
  padding: 15px;
}

.title-div {
  position: relative;
  text-align: center;
}

.banner-text {
  font-size: 55px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yac-section {
  display: flex;
  align-items: center;
  padding-left: 90px;
}

.target-slider {
  padding-top: 90px;
  height: 600px;
}